// 菜单宽度
$navMenu:17%;
// 动态left值
$left:3.9%;
// 字体主颜色
$mainColor:#f56c6c;

@mixin webkit($type,$value){
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
    #{$type}:  $value;
}
@mixin labelDom($algin,$width,$line-height:"normal"){
    label {
        float: left;
        text-align: $algin;
        line-height: $line-height + px;
        width: $width + px;
      }
      .warp-content {
        margin-left: $width + px;
      }
}