.el-submenu .el-menu-item.is-active{
    background: #f56c6c !important ;
}
.el-submenu .el-menu-item{
    font-size: .95rem;
    // padding-left:50px !important;
    padding: 0 0 0 18% !important;
    &.is-active{
        color: #fff !important;
        background: #f56c6c !important ;
    }
}
//修改一级菜单的背景色
// .el-submenu.is-active .el-submenu__title{
//     background: rgb(108,208,245) !important;
// }
li.el-submenu{
 &.is-active.is-opened .el-submenu__title{
         background: rgb(108,208,245) !important;
     }
}
// 表格样式
div.el-table{
    td,th{
        text-align: center;
    }
    th{
        font-weight: bold;
        color: #344a5f;
    }
    td{
        font-size: 14px;
    }
}

// info对话框
.el-dialog__header{
    padding:20px 20px 10px 30px !important;
}
.el-dialog__body{
    padding:28px 47px 30px !important;
}
.el-form{
    .el-form-item:last-child{
        margin-bottom:0 !important;
    }
}
.el-dialog__footer{
    text-align:center;
	padding:10px 20px 50px;
    .el-button{
        width: 150px;
        margin: 0 11px !important;
    }
}
// button
div.el-form-item {
			margin-bottom: 22px;
		}