// 项目控制台页的动态样式
@import "./config.scss";
// 项目基本样式
@import './normalize.scss';
// 手动修改项目UI的样式
@import "./elementui.scss";
.pull-left{float: left;}
.pull-right{float: right;}

// 占位
.black-space-30{
    height: 30px;
}